@font-face {
  font-family: 'NobileBold';
  src: url("/fonts/nobile_bold-webfont.eot");
  src: url("/fonts/nobile_bold-webfont.eot?#iefix") format("embedded-opentype"), url("/fonts/nobile_bold-webfont.woff") format("woff"), url("/fonts/nobile_bold-webfont.ttf") format("truetype"), url("/fonts/nobile_bold-webfont.svg#NobileBold") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Styles specific to the full year cal example
.bearcal { 
  margin: 10px 0;
  font-size: 12px;
  .period_box {
    width: 668px; // (.month_box::width + .month_box::border + .month_box::margin) * amount of months per row - .endrow difference
    margin: 0 auto;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 594px;
  }

  .prev_months, .next_months, .prev_year, .next_year {
    //Start IR
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    //End IR
    position: relative;
    display: block;
    width: 668px;
    margin: 0 auto;
    background: #E6E6E6;
    text-align: center;
    padding: 5px 0;
    height: 30px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    &:hover { background: #D1D1D1; }
  }

  .prev_months:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 668px/2 - 46px/2;
    top: 8px;
    border-style: solid;
    border-width: 0 23px 22px 23px;
    border-color: transparent transparent #ffffff  transparent;
  }

  .next_months:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 668px/2 - 46px/2;
    top: 8px;
    border-style: solid;
    border-width: 22px 23px 0 23px;
    border-color: #ffffff transparent transparent transparent;
  }

  .prev_year:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 668px/2 - 46px/2;
    top: 8px;
    border-style: solid;
    border-width: 0 23px 22px 23px;
    border-color: transparent transparent #5E5E5E transparent;
  }

  .next_year:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 668px/2 - 46px/2;
    top: 8px;
    border-style: solid;
    border-width: 22px 23px 0 23px;
    border-color: #5E5E5E transparent transparent transparent;
  }
}

// Styles specific to the mini year cal and input cal example
.bearcal-wrapper {
  position: absolute;
  z-index: 99;
  background: white;
}
.minibearcal, .bearcal-wrapper {
  margin: 10px auto;
  font-size: 12px;
  width: 164px;
  .period_box {
    margin: 0 auto;
    font-family: Arial, sans-serif;
    overflow: hidden;
    height: 198px;
  }
}

.vertical-datepicker, .minibearcal {
  .prev_months, .next_months, .prev_year, .next_year {
    //Start IR
    border: 0;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    //End IR
    position: relative;
    display: block;
    margin: 0 auto;
    background: #E6E6E6;
    text-align: center;
    padding: 5px 0;
    height: 15px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    &:hover { background: #D1D1D1; }
  }

  .prev_months:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 164px/2 - 22px/2;
    top: 8px;
    border-style: solid;
    border-width: 0 13px 12px 13px;
    border-color: transparent transparent #ffffff  transparent;
  }

  .next_months:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 164px/2 - 24px/2;
    top: 6px;
    border-style: solid;
    border-width: 12px 13px 0 13px;
    border-color: #ffffff transparent transparent transparent;
  }

  .prev_year:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 164px/2 - 22px/2;
    top: 8px;
    border-style: solid;
    border-width: 0 13px 12px 13px;
    border-color: transparent transparent #5E5E5E  transparent;
  }

  .next_year:after {
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 164px/2 - 24px/2;
    top: 6px;
    border-style: solid;
    border-width: 12px 13px 0 13px;
    border-color: #5E5E5E transparent transparent transparent;
  }
}
.horizontal-datepicker {
  .cal-nav { background: #e8e8e8; }
  .next_months, .next_year, .prev_months, .prev_year  { 
    text-decoration: none;
    background: #e8e8e8;
    padding: 4px 8px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    &:link, &:active, &:visited { color: #02A4D2; }
    &:hover { background: #D1D1D1; color: #2b2b2b; }
  }

  .next_months, .next_year { float: right; }
  .prev_months, .prev_year { float: left; }

  .slider_container {
    white-space: nowrap;
  }
  .month_box {
    margin: 4px 0;
  }
}
.input-example {
  text-align: center;
}

// Global calendar styles
h2 {
  text-align: center;
}

.day_box, .empty_day_box {
  margin-top: 1px;
  margin-left: 1px;
  border: 1px solid #eee;
  width: 20px;
  height: 20px;
  cursor: pointer;
  float: left;
  line-height: 20px;
  text-align: center;
  color: #5E5E5E;
}

// Hover and highlight states require !important so that they override any other class
.hover_unavailable_am, .hover_unavailable_pm, .highlight_unavailable_am, .highlight_unavailable_pm {
  background: url(/img/corner-sprites-blue.png) transparent !important;
}
.hover_available_am, .hover_available_pm, .highlight_available_am, .highlight_available_pm {
  background: none !important;
}
.hover_unavailable_am, .highlight_unavailable_am {
  background-position: -40px 0 !important;
  color: #414141 !important;
}
.hover_unavailable_pm, .highlight_unavailable_pm {
  background-position: -60px 0 !important;
  color: #414141 !important;
}

// Set States
.available {}
.unavailable { background: url(/img/corner-sprites-blue.png) transparent; }
.booked { background: url(/img/corner-sprites-green.png) transparent; }

.am {
  background-position: -40px 0;
  color: #414141;
}
.pm { 
  background-position: -60px 0;
  color: #414141;
}

// Delimiter
.delimiter_am {
  background-position: 0 0;
  color: #414141;
}
.delimiter_pm {
  background-position: -20px 0;
  color: #414141;
}


.slider_container .endrow {
  padding-right: 0;
  margin-right: 0;
}

.month_header {
  font-family: 'NobileBold', sans-serif;
  letter-spacing: -1px;
  width: auto;
  text-align: center;
  background: #E6E6E6;
  margin: 0 0 1px 0;
  padding: 3px 0 4px 0;
  color: #414141;
  font-size: 13px;
}

.month_box {
  width: 162px; //.month_wrapper::width + 1
  display: inline-block;
  margin: 4px 4px 4px 0;
  border: 1px solid #E0E0E0;
  padding: 0 0 1px 0;
  background: white;
}

.month_wrapper {
  width: 161px; //(.wday_box::width + .wday_box::border-right) * 7
  margin: 0 auto;
  background: white;
}

.wday_box {
  border: 1px solid #eee;
  margin-top: 1px;
  margin-left: 1px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  float: left;
  line-height: 20px;
  text-align: center;
  background: #C8C8C8;
}

